<div class="page-header">
  <h1>Nueva Orden</h1>
</div>

<div class="row new-order-top-form">
  <div class="col-md-6">
    {{#form-group errors=model.errors.clientName}}
      <label for="client">Nombre del cliente</label>
      {{input value=model.clientName class="form-control" id="client" placeholder="Juanito, Pepito..."}}
    {{/form-group}}
  </div>
  <div class="col-md-6">
    {{#form-group errors=model.errors.tableId}}
      <label for="table">Número de mesa</label>
      {{input value=model.tableId class="form-control" id="table" placeholder="M1, M2..."}}
    {{/form-group}}
  </div>

  <table class="table">
    <thead>
      <tr class="row">
        <th class="col-md-4">Platillo</th>
        <th class="col-md-4 text-center">Cantidad</th>
        <th class="col-md-4 text-right">Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.items as |item|}}
      <tr class="row" data-order-item>
        {{#if item.quantity}}
        <td class="col-md-4">{{item.name}}</td>
        <td class="col-md-4 text-center">
          <div class="input-group">
            <input value="{{item.quantity}}" type="number" class="form-control" width="3" data-quantity>
            <div class="input-group-btn">
              <button class="btn btn-default" type="button" {{action "incrementQuantity" item}}>+</button>
              <button class="btn btn-default" type="button" {{action "decrementQuantity" item}}>-</button>
            </div>
          </div>
        </td>
        <td class="col-md-4 text-right" data-total>{{number-to-currency item.total}}</td>
        {{else}}
        <td class="col-md-12 text-center" colspan="3">
          <div class="alert alert-warning new-order-remove-item-warning">
            <p>¿Quieres remover este elemento?</p>
            <p>
              <button class="btn btn-default" {{action "removeItemCancelation" item}}>Cancelar</button>
              <button class="btn btn-default btn-soft-danger" {{action "removeItem" item}}>Remover</button>
            </p>
          </div>
        </td>
        {{/if}}
      </tr>
      {{/each}}
      <tr class="row">
        <td class="col-md-4"></td>
        <td class="col-md-4 text-right">Neto:</td>
        <td id="order_sub_total" class="col-md-4 text-right">{{number-to-currency model.subTotal}}</td>
      </tr>
      <tr class="row">
        <td class="col-md-4"></td>
        <td class="col-md-4 text-right">IVA:</td>
        <td id="order_iva" class="col-md-4 text-right">{{number-to-currency model.iva}}</td>
      </tr>
      <tr class="row">
        <th class="col-md-4"></th>
        <th class="col-md-4 text-right">Neto + IVA:</th>
        <th id="order_total" class="col-md-4 text-right">{{number-to-currency model.total}}</th>
      </tr>
    </tbody>
  </table>
</div>
<button id="send_order" class="btn btn-primary btn-lg pull-right" {{action "sendOrder"}}>Enviar Orden</button>
